#slider-container {
  width: auto;
  height: 305px;
  background: linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slider {
  width: 95%;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider-srinagar {
  width: 95%;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider-gulmarg {
  width: 95%;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider-pahalgam {
  width: 95%;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider-sonmarg {
  width: 95%;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}

.slider-icon.left,
.slider-icon.right {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  opacity: 0.4;
  cursor: pointer;
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
  opacity: 1;
}

.slider-card {
  width: 320px;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
}
.slider-card-title,
.slider-card-description {
  margin: 5px 0px 5px 10px;
}

.slider-card-title {
  font-weight: 500;
  margin-top: 10px;
}

.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
}

.slider-card-image {
  width: 100%;
  height: 220px;
  background: rgba(240, 240, 240, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
