.container-gallery {
  display: grid;
  background: linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 20px;
}

.media-scroller {
  grid-auto-flow: column;
  gap: 1rem;
}

.gallery-heading {
  background: linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  padding: 50px;
}
