@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 400px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #010;
    padding: 15px;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);

}

.image-right-arrow {
    position: absolute;
    top: 85%;
    right: 70%;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}


.image-left-arrow {
    position: absolute;
    top: 85%;
    left: 10%;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.cards-main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);

    text-align: center;
    justify-content: center;
    padding: 0.5rem;
    /*
    border: 1px solid #000f;
    */
    padding-block: 2rem;
    width: min(95%, 50rem);
    margin-inline: auto;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.cards {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: auto;
    height: 330px;
}